# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/
/main.ipynb

# Data — ne jamais versionner les données
data/*.csv
*.csv
*.parquet
*.h5
*.hdf5

# Models — ne jamais versionner les modèles sérialisés
models/*.joblib

# MLflow
mlruns/
mlartifacts/

# Environment & secrets
.env
*.env
configs/secrets.yaml

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
*.log

# Distribution
*.tar.gz
*.whl
